# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# See https://editorconfig.org for details

root = true

# Top-level settings for all files
[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Go files
[*.go]
indent_size = 4

# Python files
[*.py]
indent_size = 4

# YAML files
[*.yaml]
indent_size = 2

# Markdown files
[*.md]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Makefiles (tabs required by spec)
[Makefile]
indent_style = tab

# Dockerfiles
[Dockerfile]
indent_size = 2
